
@{
    ViewBag.Title = "SizeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*ADD BUTTON OF SIZE*@
<button type="submit" style="margin: 5px; background-color: #5233b7; color: white;" id="InsertSizebtn"> ADD </button>

@*INSERT/UPDATE MODAL ALERT WINDOW OF SIZE*@
<div class="modal" tabindex="-1" role="dialog" id="EditandInsertSizemodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CUSTOMIZE SIZE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin-left: 165px;">
                <form>
                    <label>NAME</label>
                    <input class="form-control" id="productsize" placeholder="S, M, L, X, XXL, etc..." value="">

                    <input class="form-control" id="productidsize" type="hidden" />

                </form>
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" id="InsertandEditSizebtn">SAVE</button>
            <button type="button" class="btn btn-info" data-dismiss="modal">CANCEL</button>
        </div>
    </div>
</div>

@*DELETE MODAL ALERT WINDOWS OF SIZE*@
<div class="modal" tabindex="-1" role="dialog" id="DeleteSizemodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DISPOSING PRODUCT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>ARE YOU SURE WANT TO DELETE THIS PRODUCT?</p>
                <input class="form-control" id="DeleteidSize" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ConfirmSize">YES</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>

@*DISPLAY LIST OF SIZE*@
<div id="SizeList" class="text-center" style="display:flex; flex-wrap: wrap;"></div>





<script>
    $(document).ready(
        function () {

            @*Modifying id of ADD button of size.*@
            $("#InsertSizebtn").click(
                function () {
                    $("#EditandInsertSizemodal").modal("show");
                    $("#productsize").val("");
                }
            );

            @*Show list of product via $.ajax({ }); of size*@
            $.ajax({
                url: "/Home/DisplaySizeList/",
                type: "GET",
                data: {},
                success: function (DataList) {
                    $(DataList).each(function () {
                        var htmlcsslist = '<div class="col-lg-4" style ="background-color:rgb(255, 15, 80); margin: 15px; color: white; width: 300px; display:inline-block;">';
                        htmlcsslist += "<div class='sizename'> Name: " + this.NameofSize + "</div>";


                        @* Assign id of Update button to id of Datalist of size.*@
                        htmlcsslist += "<button type='submit' class='Updatebtn' id='" + this.IdSize + "' style='margin: 5px; background-color: #5233b7; color: white; '> Edit </button>";
                        @* Assign id of Delete button to id of Datalist. *@
                        htmlcsslist += "<button type='submit' class='Deletebtn' id='" + this.IdSize + "' style='margin: 5px; background-color: #5233b7; color: white; '> Delete </button>";
                        htmlcsslist += "</div>";
                        $('#SizeList').append(htmlcsslist);
                    });
                    @* Modifying class of Update button of size.*@
                    $(".Updatebtn").click(function (thisbtn) {
                        $("#EditandInsertSizemodal").modal("show");
                        $.ajax({
                            url: "GetSizeId/",
                            type: "POST",
                            data:  { id: thisbtn.target.id },
                            success: function (tableSize) {

                                $("#productsize").val(tableSize.NameofSize);
                                $("#productidsize").val(tableSize.IdSize);
                            },

                        });
                    });
                    @* Modifying class of Delete button of size.*@
                    $(".Deletebtn").click(function (thisclassDeletebtn) {
                        $("#DeleteSizemodal").modal("show");
                        $("#DeleteidSize").val(thisclassDeletebtn.target.id);
                    });
                }

            });

            @*Modifying id of SAVE button of size.*@
            $("#InsertandEditSizebtn").click(function () {
                $.ajax({
                    url: "AddandEditSizeName/",
                    type: "POST",
                    data: { id: $("#productidsize").val(), sizename: $("#productsize").val() },
                    success: function (announcement) {

                        console.log(announcement);
                        window.alert(announcement);
                        @* This event method locaiton.reload() will reload the web page of size.*@
                        location.reload();


                    }

                });
            });

            @*Modifying id of YES button in Delete modal of size.*@
            $("#ConfirmSize").click(
                function () {
                    $.ajax({
                        url: "DeleteSizeName/",
                        type: "POST",
                        data: { id: $("#DeleteidSize").val() },
                        success: function (announcement) {

                            window.alert(announcement);
                            @*This event method locaiton.reload() will reload the web page of size.*@
                            location.reload();
                        }
                    });
                }
            );











        });



</script>
